/* Kiri Salij and Lysander Miller, Software Design Fall 2021 */

img.search_img {
        width:70px;
        height:50px;
        float:left;
        margin-left: 100px;
        padding-top:15px;
}

.search_bar{
        margin-left:50px;
        width: 70%;
        margin-right: -30px;
        font-size:20px;
        border-style: solid;
        border-color: black;
}

.results{
        border-style:solid;
        border-color: black;
        height: 500px;
        text-align: center;
        padding-top:20px;
	width: 80%;
}

p {
        padding: 20px;
}

button{
        width:10%;
        height:10%;
        border: black solid;
        padding: 20px;
	float:right;
}
